* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: #010105;
    --secondary: #ff9100;
    --text: #fff;
}

:target {
    /* scroll-padding: 140px; */
    scroll-margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', Geneva, sans-serif;
    color: var(--text);
    background-color: var(--main);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

button,
input,
textarea,
a {
    font-family: inherit;
    color: inherit;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    padding: 2em 1em;
    color: var(--secondary);
    font-weight: normal;
}

header {
    display: flex;
    align-items: center;
    padding-left: 1em;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100vw;
    z-index: 200;
    background-color: var(--main);
}

h1 {
    font-weight: normal;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

h1 span {
    color: var(--secondary);
}

.menu ul {
    position: absolute;
    top: 50%;
    right: 3em;
    transform: translateY(-50%);
    display: flex;
}

.menu-item {
    padding: 0 1em;
    position: relative;
}

.menu-item span {
    font-weight: lighter;
    font-size: .9rem;
    position: absolute;
    bottom: -1.2em;
    left: 0;
    transform: scale(0);
    transition: 300ms;
}

.menu-item:hover span {
    transform: scale(1);
}

.menu-item svg {
    color: var(--secondary);
    transform: scale(1.5);
}

.intro {
    min-height: calc(100vh - 100px - 2em);
    margin-top: 1em;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 100px;
}

.intro-text {
    padding: 0 1em;
    text-align: center;
}

.intro p {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1em;
}

.intro p span {
    color: rgba(204, 204, 204, 0);
    transform: scale(0.5) rotateZ(20deg);
    animation: text 200ms linear forwards;
}

@keyframes text {
    to {
        color: var(--text);
        transform: scale(1) rotateZ(0deg);
    }
}

.intro svg {
    color: #cccccc15;
    position: absolute;
    top: 50%;
    left: 3em;
    transform: scale(13) translateY(-50%);
    z-index: -1;
}

.cta {
    background-color: transparent;
    padding: 1.1em 2.2em;
    border-radius: 3px;
    transform: rotateX(90deg);
    opacity: 0;
    animation: cta forwards;
    position: relative;
    overflow: hidden;
    --after: 90deg;
    --before: 1;
}

.cta::after,
.cta::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: var(--secondary);
    transition: 300ms;
}

.cta::after {
    right: 0%;
    width: 100%;
    transform: rotateX(var(--after));
    z-index: -1;
}

.cta::before {
    left: 50%;
    width: 50%;
    transform: scaleX(var(--before));
    transform-origin: right;
    z-index: 1;
}

@keyframes cta {
    to {
        transform: unset;
        --after: 0;
        --before: 0;
        opacity: 1;
    }
}

.main {
    position: relative;
    top: 100vh;
    left: 0;
    z-index: 150px;
    background-color: var(--main);
}

.gallery {
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
}

.image {
    position: relative;
    opacity: 0.3;
    transform: rotateX(40deg);
    transition: opacity 1500ms ease-in-out, transform 300ms linear;
}

.image.reveal {
    opacity: 1;
    transform: rotateX(0deg);
}

.zoom-in {
    position: absolute;
    bottom: 0em;
    left: 0em;
    background-color: var(--main);
    padding: 1em;
    box-shadow: -1px 1px 2px rgba(126, 124, 124, 0.192);
    border-top-right-radius: 2px;
}

.zoom-in svg,
.zoom-out svg {
    color: var(--secondary);
    transform: scale(2);
    pointer-events: none;
}

.span-1-3-row {
    grid-column: 2/3;
    grid-row: 1/3;
}

.span-2-4-row {
    grid-row: 2/4;
}

.span-2-4-column {
    grid-column: 2/4;
    grid-row: 4/5;
}

.gallery img {
    height: 100%;
    width: 100%;
}

.zoomed {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #11111185;
    z-index: 201;
    transition: transform 400ms ease-in;
    transform: scale(0);
    transform-origin: right;
}

.zoomed.show-image {
    transform-origin: left;
    transform: scale(1);
    background-color: #11111185;
}

.zoomed img {
    height: 90%;
    width: 400px;
    padding: 0 1em;
    margin: 1em calc(1/2 * (100vw - 400px));
}

.zoom-out {
    padding: 1em;
    background-color: var(--main);
    position: absolute;
    top: 1em;
    left: calc(1/2 * (100vw - 400px) + 1em);
}

.booking-form {
    padding: 0 1em 1em 1em;
    min-height: 80vh;
    background-color: var(--main);
    position: relative;
}

.steps {
    display: flex;
    margin-left: 1em;
}

.step {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 1em;
    background-color: var(--secondary);
    opacity: 0.1;
    transition: 400ms;
}

.step.active {
    opacity: 1;
}

.form-group {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
}

.form-group.active {
    animation: form 400ms forwards;
}

.left {
    transform: translateX(-100%);
}

.right {
    transform: translateX(100%);
}

@keyframes form {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.form-group h3 {
    padding: 1em 0;
    font-weight: normal;
}

.form-group input {
    height: 40px;
}

select {
    outline: none;
    height: 30px;
    margin-bottom: 1em;
    border-radius: 3px;
    border: 1px solid var(--secondary);
}

.form-group label {
    margin-bottom: 5px;
    font-weight: lighter;
}

.form-group input,
.form-group textarea {
    background-color: transparent;
    border: .5px solid var(--secondary);
    width: 300px;
    padding-left: 10px;
    border-radius: 3px;
    margin-bottom: 1em;
}

.btn {
    border-radius: 3px;
    padding: 1em 0em;
    width: 100px;
    background-color: var(--secondary);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn span {
    pointer-events: none;
}

.btn svg {
    transform: scale(1.2);
}

.pricing {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pricing p,
.pricing h4 {
    text-align: center;
    padding-bottom: 1em;
}

.package {
    width: 250px;
    padding: 1em;
    border: 1px solid var(--text);
    border-radius: 3px;
}

.package svg,
.package h4 {
    color: var(--secondary);
}

@media (min-width:720px) {
    .intro {
        display: flex;
    }
}