@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .partners {
        animation: partners 8s linear infinite;
    }
    @keyframes partners {
        to {
            transform: translateX(-100%);
        }
    }
}

@layer utilities {
    .scrolled {
        background: unset;
        @apply bg-white;
    }
    .open-menu {
        @apply opacity-100;
        @apply transform-none;
    }
    .z-text span {
        transition: 300ms linear;
    }
    @keyframes text {
        to {
            @apply opacity-100;
        }
    }
    .hero-accent {
        transform-origin: 50% 100%;
        transform-style: preserve-3d;
        transition: 700ms 300ms;
        transform: scale(0.75) rotateY(-30deg) rotateX(50deg) rotateZ(0deg) skew(10deg) translateZ(4.5rem);
    }
    .hero-accent.animate {
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    }
    .hero-accent.animate::after {
        transform: translateZ(-4rem);
    }
    .hero-accent.animate::before {
        transform: translateZ(4rem);
    }
    .show-to-top {
        @apply transform-none;
        @apply opacity-100;
    }
    .show-image {
        transform: perspective(2000px) rotateZ(10deg) rotateX(-40deg) rotateY(-20deg) translateY(30%) translateX(-20%);
        animation: about 400ms 100ms ease-in-out forwards;
    }
    @keyframes about {
        100% {
            @apply transform-none;
            @apply opacity-100;
        }
    }
    .reveal {
        transform: unset;
    }
    .show-service {
        @apply opacity-100;
        @apply transform-none;
    }
}