@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     ::-webkit-scrollbar {
        width: 8px;
    }
     ::-webkit-scrollbar-thumb {
        @apply bg-slate-800;
        border-radius: 20px;
    }
     ::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-900;
    }
     ::-webkit-scrollbar-track {
        @apply bg-slate-500;
    }
    @supports(scrollbar-color:red black) {
        * {
            scrollbar-color: @apply bg-slate-800 @apply bg-slate-500;
        }
    }
}

@layer components {
    .partners {
        animation: partners 8s linear infinite;
    }
    @keyframes partners {
        to {
            transform: translateX(-100%);
        }
    }
}

@layer utilities {
    .scrolled {
        background: unset;
        @apply bg-white;
    }
    .open-menu {
        @apply opacity-100;
        @apply transform-none;
    }
    .btn-open {
        @apply -translate-x-40;
    }
    .btn-open .lines {
        @apply hidden;
    }
    .btn-open .close {
        @apply block;
    }
    .bounce {
        @apply -translate-y-[5px];
        animation: bouncee 400ms linear 1 forwards;
    }
    @keyframes bouncee {
        to {
            @apply transform-none;
        }
    }
    .hero {
        background: conic-gradient(rgb(250, 255, 255), #cca, rgb(250, 255, 255));
    }
    .z-text span {
        transition: 300ms linear;
    }
    @keyframes text {
        to {
            @apply opacity-100;
        }
    }
    .hero-accent {
        transform-origin: 50% 100%;
        transform-style: preserve-3d;
        transition: 700ms 300ms;
        transform: rotateY(-20deg) rotateX(45deg) rotateZ(0deg) skew(10deg) translateZ(0rem);
    }
    .hero-accent.animate {
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    }
    .hero-accent.animate img {
        @apply transform-none;
    }
    .hero-accent.animate::after {
        transform: translateZ(-3rem);
    }
    .hero-accent.animate::before {
        transform: translateZ(3rem);
    }
    .show-to-top {
        @apply transform-none;
        @apply opacity-100;
    }
    .show-image {
        transform: perspective(2000px) rotateZ(10deg) rotateX(-40deg) rotateY(-20deg) translateY(30%) translateX(-20%);
        animation: about 400ms 100ms ease-in-out forwards;
    }
    @keyframes about {
        100% {
            @apply transform-none;
            @apply opacity-100;
        }
    }
    .reveal {
        transform: unset;
    }
    .show-service {
        @apply opacity-100;
        @apply transform-none;
    }
    .current {
        @apply opacity-100;
        @apply z-10;
        animation: showCurrent 500ms ease-in-out forwards;
    }
    @keyframes showCurrent {
        to {
            @apply transform-none;
        }
    }
    .current-btn {
        @apply bg-secondary;
    }
    footer {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='460' preserveAspectRatio='none' viewBox='0 0 1440 460'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='460' x='0' y='0' fill='rgba(214%2c 222%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c140 C 57.6%2c193 172.8%2c389.8 288%2c405 C 403.2%2c420.2 460.8%2c237.8 576%2c216 C 691.2%2c194.2 748.8%2c333 864%2c296 C 979.2%2c259 1036.8%2c19.4 1152%2c31 C 1267.2%2c42.6 1382.4%2c289.4 1440%2c354L1440 460L0 460z' fill='rgba(204%2c 217%2c 230%2c 0.82)'%3e%3c/path%3e%3cpath d='M 0%2c253 C 96%2c209.2 288%2c16.8 480%2c34 C 672%2c51.2 768%2c317.6 960%2c339 C 1152%2c360.4 1344%2c180.6 1440%2c141L1440 460L0 460z' fill='rgba(180%2c 204%2c 229%2c 0.46)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='460' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
}